body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1282px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u182 {
  position:absolute;
  left:62px;
  top:14px;
  width:735px;
  height:25px;
}
#u182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:716px;
}
#u183 {
  position:absolute;
  left:52px;
  top:60px;
  width:1161px;
  height:716px;
}
#u184 {
  position:absolute;
  left:2px;
  top:350px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_ann {
  position:absolute;
  left:1206px;
  top:56px;
  width:1px;
  height:1px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:800px;
}
#u185 {
  position:absolute;
  left:52px;
  top:858px;
  width:369px;
  height:800px;
}
#u186 {
  position:absolute;
  left:2px;
  top:392px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:800px;
}
#u187 {
  position:absolute;
  left:482px;
  top:858px;
  width:369px;
  height:800px;
}
#u188 {
  position:absolute;
  left:2px;
  top:392px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:800px;
}
#u189 {
  position:absolute;
  left:52px;
  top:1740px;
  width:369px;
  height:800px;
}
#u190 {
  position:absolute;
  left:2px;
  top:392px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:800px;
}
#u191 {
  position:absolute;
  left:482px;
  top:1740px;
  width:369px;
  height:800px;
}
#u192 {
  position:absolute;
  left:2px;
  top:392px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:800px;
}
#u193 {
  position:absolute;
  left:913px;
  top:1740px;
  width:369px;
  height:800px;
}
#u194 {
  position:absolute;
  left:2px;
  top:392px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:800px;
}
#u195 {
  position:absolute;
  left:52px;
  top:2595px;
  width:369px;
  height:800px;
}
#u196 {
  position:absolute;
  left:2px;
  top:392px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:420px;
}
#u197 {
  position:absolute;
  left:361px;
  top:281px;
  width:274px;
  height:420px;
}
#u198 {
  position:absolute;
  left:2px;
  top:202px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
