body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1344px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u221 {
  position:absolute;
  left:79px;
  top:278px;
  width:492px;
  height:376px;
}
#u221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:376px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u222 {
  position:absolute;
  left:79px;
  top:37px;
  width:571px;
  height:203px;
}
#u222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:203px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u223 {
  position:absolute;
  left:654px;
  top:341px;
  width:300px;
  height:25px;
}
#u223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u224 {
  position:absolute;
  left:654px;
  top:376px;
  width:300px;
  height:25px;
}
#u224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u225 {
  position:absolute;
  left:654px;
  top:411px;
  width:300px;
  height:25px;
}
#u225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u226 {
  position:absolute;
  left:971px;
  top:278px;
  width:373px;
  height:25px;
}
#u226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u227 {
  position:absolute;
  left:654px;
  top:482px;
  width:300px;
  height:25px;
}
#u227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u228 {
  position:absolute;
  left:654px;
  top:446px;
  width:300px;
  height:25px;
}
#u228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
