body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3228px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:600px;
}
#u164 {
  position:absolute;
  left:447px;
  top:655px;
  width:1015px;
  height:600px;
}
#u165 {
  position:absolute;
  left:2px;
  top:292px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  position:absolute;
  left:28px;
  top:15px;
  width:63px;
  height:600px;
}
#u167 {
  position:absolute;
  left:2px;
  top:292px;
  width:59px;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  position:absolute;
  left:28px;
  top:655px;
  width:63px;
  height:600px;
}
#u169 {
  position:absolute;
  left:2px;
  top:292px;
  width:59px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170 {
  position:absolute;
  left:28px;
  top:1301px;
  width:63px;
  height:600px;
}
#u171 {
  position:absolute;
  left:2px;
  top:276px;
  width:59px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:600px;
}
#u172 {
  position:absolute;
  left:129px;
  top:15px;
  width:277px;
  height:600px;
}
#u173 {
  position:absolute;
  left:2px;
  top:292px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:600px;
}
#u174 {
  position:absolute;
  left:129px;
  top:655px;
  width:277px;
  height:600px;
}
#u175 {
  position:absolute;
  left:2px;
  top:292px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:600px;
}
#u176 {
  position:absolute;
  left:129px;
  top:1301px;
  width:932px;
  height:600px;
}
#u177 {
  position:absolute;
  left:2px;
  top:292px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:600px;
}
#u178 {
  position:absolute;
  left:1092px;
  top:1301px;
  width:912px;
  height:600px;
}
#u179 {
  position:absolute;
  left:2px;
  top:292px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:600px;
}
#u180 {
  position:absolute;
  left:2040px;
  top:1301px;
  width:1188px;
  height:600px;
}
#u181 {
  position:absolute;
  left:2px;
  top:292px;
  width:1184px;
  visibility:hidden;
  word-wrap:break-word;
}
