body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1416px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:16px;
}
#u340 {
  position:absolute;
  left:89px;
  top:127px;
  width:780px;
  height:16px;
  color:#0000FF;
}
#u341 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u343 {
  position:absolute;
  left:89px;
  top:40px;
  width:362px;
  height:37px;
}
#u344 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  white-space:nowrap;
}
#u345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u345 {
  position:absolute;
  left:89px;
  top:99px;
  width:185px;
  height:28px;
}
#u346 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u347 {
  position:absolute;
  left:89px;
  top:160px;
  width:377px;
  height:28px;
}
#u348 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  white-space:nowrap;
}
#u349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:960px;
}
#u349 {
  position:absolute;
  left:120px;
  top:200px;
  width:540px;
  height:960px;
}
#u350 {
  position:absolute;
  left:2px;
  top:472px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u351 {
  position:absolute;
  left:89px;
  top:1921px;
  width:768px;
  height:37px;
}
#u352 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  white-space:nowrap;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:782px;
}
#u353 {
  position:absolute;
  left:89px;
  top:1978px;
  width:1327px;
  height:782px;
}
#u354 {
  position:absolute;
  left:2px;
  top:383px;
  width:1323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355 {
  position:absolute;
  left:89px;
  top:1190px;
  width:769px;
  height:37px;
}
#u356 {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  white-space:nowrap;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:632px;
}
#u357 {
  position:absolute;
  left:89px;
  top:1248px;
  width:1327px;
  height:632px;
}
#u358 {
  position:absolute;
  left:2px;
  top:308px;
  width:1323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u359 {
  position:absolute;
  left:89px;
  top:2803px;
  width:316px;
  height:37px;
}
#u360 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  white-space:nowrap;
}
#u361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u361 {
  position:absolute;
  left:89px;
  top:2850px;
  width:641px;
  height:19px;
  font-size:16px;
}
#u362 {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  word-wrap:break-word;
}
