body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:600px;
}
#u148 {
  position:absolute;
  left:131px;
  top:15px;
  width:277px;
  height:600px;
}
#u149 {
  position:absolute;
  left:2px;
  top:292px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:600px;
}
#u150 {
  position:absolute;
  left:458px;
  top:15px;
  width:277px;
  height:600px;
}
#u151 {
  position:absolute;
  left:2px;
  top:292px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:600px;
}
#u152 {
  position:absolute;
  left:131px;
  top:655px;
  width:277px;
  height:600px;
}
#u153 {
  position:absolute;
  left:2px;
  top:292px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:600px;
}
#u154 {
  position:absolute;
  left:458px;
  top:655px;
  width:964px;
  height:600px;
}
#u155 {
  position:absolute;
  left:2px;
  top:292px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:28px;
  top:15px;
  width:63px;
  height:600px;
}
#u157 {
  position:absolute;
  left:2px;
  top:292px;
  width:59px;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:28px;
  top:655px;
  width:63px;
  height:600px;
}
#u159 {
  position:absolute;
  left:2px;
  top:292px;
  width:59px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:600px;
}
#u160 {
  position:absolute;
  left:131px;
  top:1301px;
  width:277px;
  height:600px;
}
#u161 {
  position:absolute;
  left:2px;
  top:292px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:28px;
  top:1301px;
  width:63px;
  height:600px;
}
#u163 {
  position:absolute;
  left:2px;
  top:292px;
  width:59px;
  word-wrap:break-word;
}
